.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8rem;
  padding: 120px 12%;
  background: var(--secondary-bg);
}

.about-img img {
  width: 100%;
  border-radius: 4px;
  box-shadow: -25px 25px 0px var(--main-color);
}

.about-text h3 {
  font-family: "Bebas Neue", cursive;
  color: var(--main-color);
  font-size: 1.8rem;
}

.about-text h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.about-text p {
  color: var(--text-muted);
  font-size: 1.1rem;
  margin-bottom: 2rem;
}