.hero-section {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  align-items: center;
  gap: 4rem;
  padding: 0 12%;
}

.hero-subtitle {
  color: var(--main-color);
  letter-spacing: 5px;
  margin-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero-title {
  font-family: "Bebas Neue", cursive;
  font-size: 5.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.hero-tagline {
  display: block;
  font-size: 1.1rem;
  color: var(--text-muted);
  margin-bottom: 2.5rem;
  font-style: italic;
}

.hero-img-container img {
  width: 100%;
}